.container,
.footer__container {
  padding: 0;
  max-width: 1160px;
  padding: 0 20px;
}
/* jumbotron */
.jumbotron {
  height: 76vh;
  display: flex;
  padding-left: 48px;
  overflow-y: hidden;
}
.jumbotron__slogan {
  height: 100%;
  font-family: "Mulish", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.jumbotron__slogan h3 {
  font-size: 22px;
  font-weight: 500;
  color: #aaaaaa;
}
.jumbotron__slogan h2 {
  font-size: 54px;
  font-weight: 900;
  color: #5f2eea;
}
.jumbotron__img {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.jumbotron__img--img {
  height: 480px;
  width: 440px;
}
