* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.body {
  height: 100vh;
  display: flex;
}

.banner-signup {
  flex: 5;
  height: 100vh;
  position: relative;
}
.banner__overlay-signup {
  height: 100%;
  width: 100%;
  background-color: #2b156bad;
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: unset;
}
.banner-wrapper {
  margin: 0 auto;
  padding: 20px 10px;
}
.banner-header {
  width: 276px;
}
.banner-header img {
  width: 100%;
}
.banner-content {
  color: white;
  width: 80%;
  padding: 0 20px;
}
.banner-content span {
  width: 50%;
  font-size: 18px;
  color: #ffffff;
  font-family: "Mulish", sans-serif;
}
.sign-up {
  height: 100vh;
  background-color: #ffffff;
  flex: 3;
  display: flex;
  align-items: center;
  overflow-y: auto;
}
.sign-in__container {
  width: 54%;
  margin: 0 auto;
}
.title {
  font-size: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #121212;
}
.title__desc {
  margin-top: 12px;
  size: 18px;
  color: #aaaaaa;
  font-family: "Inter", sans-serif;
}
.sign-in__form--email {
  margin-top: 0;
}
label {
  margin-top: 22px;
  display: block;
  font-family: "Mulish", sans-serif;
}
input {
  width: 100%;
  height: 48px;
  margin-top: 8px;
  border: 2px solid #dedede;
  border-radius: 12px;
  font-size: 16px;
  color: #4e4b66;
  padding-left: 20px;
  font-family: "Mulish", sans-serif;
}
.input-check {
  width: 18px;
  margin-right: 18px;
  padding: 12px;
}
.label-check {
  width: 100%;
}
.sign-in__button {
  width: 100%;
  height: 48px;
  margin-top: 32px;
  background-color: #5f2eea;
  color: #f7f7fc;
  border-radius: 12px;
  font-size: 16px;
}
.sign-in__button:hover {
  cursor: pointer;
}

.or {
  text-align: center;
  font-size: 12px;
  color: #aaaaaa;
}
.forgot-pass {
  font-weight: 500;
  margin-top: 20px;
  font-size: 14px;
}
.forgot-pass,
.or {
  text-align: center;
  margin-top: 22px;
  font-family: "Inter", sans-serif;
}

.button-group-signup {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.button {
  width: 46%;
  height: 48px;
  background-color: #ffffff;
  border-radius: 12px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.144);
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  color: #a0a3bd;
}

.button:hover {
  cursor: pointer;
}
.btn-forgot__img {
  padding-right: 4px;
}
/* responsive */
@media (max-width: 1199px) {
  .sign-in__container {
    width: 70%;
  }
  .title__desc {
    font-size: 16px;
  }
}
@media (max-width: 916px) {
  .banner-signup {
    flex: 3;
  }
  .banner__overlay--jumbotron {
    width: 80%;
  }
  .banner__overlay--slogan {
    font-size: 1.8rem;
  }
}
@media (max-width: 614px) {
  .sign-in__container {
    width: 80%;
  }
  .title__desc,
  .sign-in__form--email,
  .sign-in__form--password {
    font-size: 14px;
  }
}
@media (min-width: 521px) {
  .sign-in__logo {
    display: none;
  }
}
@media (max-width: 521px) {
  .banner-signup,
  .title__desc {
    display: none;
  }
  .sign-in {
    padding-top: 36px;
    display: unset;
  }

  .title {
    margin-top: 28px;
    font-size: 28px;
  }
  .sign-in__form--email {
    margin-top: 28px;
  }
  .button {
    width: 64px;
    margin: 0 14px;
  }
  .button-group-signup {
    justify-content: center;
  }
  .google,
  .facebook {
    display: none;
  }
}
